.head{
  position: absolute;
  width: 751px;
  height: 62.31px;
  left: 344px;
  top: 88.45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.01em;
}
.text{
  height: 32.162025451660156px;
width: 604px;
left: 418px;
top: 166.84051513671875px;
border-radius: nullpx;

}